Benefícios por Incapacidade Concedidos por Classificação Internacional de Doenças (CID)

Benefícios concedidos pela Classificação Internacional de Doenças (CID-10), grupos de espécie 
específicos, clientela, sexo do beneficiário e ano da Data de Despacho do Beneficio (DDB). Não inclui 
pensões alimentícias, desdobramentos de pensões por morte nem benefícios de prestação única. Considera 
apenas espécies de 'aposentadorias por invalidez' e 'auxílios-doença'.

# BANCO DE DADOS da disciplina de DATAMINING 
    
Com base nos dados da DADOSGOV(http://www.dados.gov.br).

- Seleção: Escolher um subconjunto de dados abas, colunas e linhas relevantes.
- Limpesa: Retirar abas, colunas e linhas irrelevantes.
- Enriquecer: Adicionar abas, colunas e linhas de outra origens de dados.
- Enriquecer Criar: Criar um valor novo que não existe(null) colunas e linhas.
- Transformação: Altera dados com objetivo de padronizar.

Link -> http://www.dados.gov.br/dataset/beneficios-por-incapacidade-concedidos-por-classificacao-internacional-de-doencas-cid10

Arquivo -> BD_ORIGINAL_CID_BENEFICIOS.csv

In [1]:
# Importando bibliotecas
# Por convenção pandas é chamado pd
import pandas as pd
import numpy as np
# Configurando o matplotlib
%matplotlib inline

## Método - SELEÇÃO E LIMPEZA

In [2]:
# Carregar arquivo .csv
## Pandas vai converter o arquivo em um Dataframe(Quadradoo de dados) "Semelhante a planilhas de exell".
# Por convenção chamamos DataFrame de df

# df = pd.read_csv("Credito_de_Estados_e_Municipios.csv")

# Quando o arquivo é separado por ";"  informamos o separador (sep=";")
# Quando o arquivo é codificado com cp1252 formato excell (encoding="cp1252")
df = pd.read_csv("BD_ORIGINAL_CID_BENEFICIOS.csv", encoding="cp1252",error_bad_lines=False, index_col=False, dtype='unicode')

## C:\Users\Wedley\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: 
# DtypeWarning: Columns (0,5) have mixed types.Specify dtype option on import or set low_memory=False.
# interactivity=interactivity, compiler=compiler, result=result)

# Ajustar erro : error_bad_lines=False, index_col=False, dtype='unicode'
## Quanto a low_memory, é True por padrão e ainda não está documentado. Eu não acho que seja relevante.
# A mensagem de erro é genérica, portanto você não precisa mexer com a memória baixa de qualquer maneira.


df.head(5)

,Ano,Espécie,CID10,Sexo,Clientela,Qde Benefícios Concedidos,Grupo CID,Grupo/Principais Espécies,Valor Benef Concedidos (R$),Valor Benef Concedidos(Mil R$)
0,2008,Ap Invalidez Det Ignorado,A02:Outr Infecc p/Salmonella,Masculino,Urbana,1,Algumas doenças infecciosas e parasitárias,Ap Invalidez,"1979,13","1,98"
1,2008,Ap Invalidez Det Ignorado,A04:Outr Infecc Intestinais Bacter,Masculino,Urbana,1,Algumas doenças infecciosas e parasitárias,Ap Invalidez,"1100,16","1,10"
2,2008,Ap Invalidez Det Ignorado,A15:Tuberc Respirat c/Conf Bacteriol e Histol,Masculino,Urbana,112,Algumas doenças infecciosas e parasitárias,Ap Invalidez,"89232,02","89,23"
3,2008,Ap Invalidez Det Ignorado,A16:Tuberc Vias Respirat s/Conf Bacter Histol,Masculino,Urbana,38,Algumas doenças infecciosas e parasitárias,Ap Invalidez,"32786,92","32,79"
4,2008,Ap Invalidez Det Ignorado,A17:Tuberc do Sist Nervoso,Masculino,Urbana,3,Algumas doenças infecciosas e parasitárias,Ap Invalidez,"1812,30","1,81"

In [3]:
# Verifica o tamanho do Dataframe, Quantidades de linha e coluna.
# Formato(linhas, colunas)
df.shape

(104856, 10)

In [4]:
# Quantidade de dados por coluna 
df.count()

Ano                               104856
Espécie                           104856
CID10                             104856
Sexo                              104856
Clientela                         104856
Qde Benefícios Concedidos         104856
Grupo CID                         104856
Grupo/Principais Espécies         104855
Valor Benef Concedidos (R$)       104855
Valor Benef Concedidos(Mil R$)    104855
dtype: int64

In [5]:
# Descreve itens e quantidade por coluna
df["Ano"].value_counts()

2013    11286
2014    11236
2011    11167
2012    11129
2016    10954
2017    10931
2015    10589
2010    10436
2009     8591
2008     8536
-           1
Name: Ano, dtype: int64

# Decisão sobre dados SELEÇÃO E LIMPEZA

In [6]:
# Linhas finais do DataFrame
df.tail(3)

,Ano,Espécie,CID10,Sexo,Clientela,Qde Benefícios Concedidos,Grupo CID,Grupo/Principais Espécies,Valor Benef Concedidos (R$),Valor Benef Concedidos(Mil R$)
104853,2017,Aposentadoria por Invalidez Acidentária,T93:Sequelas de Traum do Membro Infer,Feminino,Rural,2,"Lesões, envenenamento e algumas outras conseqü",Aposentadorias Acidentárias,"1874,00","1,87"
104854,2017,Aposentadoria por Invalidez Acidentária,Z54:Convalescenca,Feminino,Rural,1,Fatores que influenciam o estado de saúde e o,Aposentadorias Acidentárias,"937,00","0,94"
104855,-,-,-,-,-,-,-,NaN,NaN,NaN

In [7]:
# Exibir as ultimas linhas
# drop remove linhas
df.tail(3).drop([104855])

#Removendo colunas utilizando o argumento axis=1
#df.drop('País', axis=1)

,Ano,Espécie,CID10,Sexo,Clientela,Qde Benefícios Concedidos,Grupo CID,Grupo/Principais Espécies,Valor Benef Concedidos (R$),Valor Benef Concedidos(Mil R$)
104853,2017,Aposentadoria por Invalidez Acidentária,T93:Sequelas de Traum do Membro Infer,Feminino,Rural,2,"Lesões, envenenamento e algumas outras conseqü",Aposentadorias Acidentárias,"1874,00","1,87"
104854,2017,Aposentadoria por Invalidez Acidentária,Z54:Convalescenca,Feminino,Rural,1,Fatores que influenciam o estado de saúde e o,Aposentadorias Acidentárias,"937,00","0,94"

In [8]:
# Coluna com dados já obtidos em 'Grupo/Principais Espécies'
df['Espécie'].value_counts()

31-Auxílio-Doença Lops                     50910
Auxílio-Doença Acidentário                 19411
Ap Invalidez Det Ignorado                  17419
32-Ap Invalidez Lops                        9927
Aposentadoria por Invalidez Acidentária     7188
-                                              1
Name: Espécie, dtype: int64

In [9]:
# Deletar coluna 'Espécie' por motivos de redundância 
df = df.drop(columns=['Espécie'])

In [10]:
df['Grupo/Principais Espécies'].value_counts()

Auxílio Doença                 50910
Ap Invalidez                   27346
Auxílio Doença Acidentário     19411
Aposentadorias Acidentárias     7188
Name: Grupo/Principais Espécies, dtype: int64

In [11]:
# Deletar coluna 'Valor Benef Concedidos(Mil R$)' por motivos de redundância 
df = df.drop(columns=['Valor Benef Concedidos(Mil R$)'])

In [12]:
# Deletar coluna 'Valor Benef Concedidos (R$)' por motivos de Irrelevancia 
df = df.drop(columns=['Valor Benef Concedidos (R$)'])

In [13]:
# Deletar coluna 'Clientela' por motivos de Irrelevancia 
df = df.drop(columns=['Clientela'])

In [14]:
# Criar um novo Dataframe sem os dados de 
#'Ignorado' da coluna 'Grupo CID'.
df = df[df['Grupo CID'] != 'Ignorado']
df.head()

,Ano,CID10,Sexo,Qde Benefícios Concedidos,Grupo CID,Grupo/Principais Espécies
0,2008,A02:Outr Infecc p/Salmonella,Masculino,1,Algumas doenças infecciosas e parasitárias,Ap Invalidez
1,2008,A04:Outr Infecc Intestinais Bacter,Masculino,1,Algumas doenças infecciosas e parasitárias,Ap Invalidez
2,2008,A15:Tuberc Respirat c/Conf Bacteriol e Histol,Masculino,112,Algumas doenças infecciosas e parasitárias,Ap Invalidez
3,2008,A16:Tuberc Vias Respirat s/Conf Bacter Histol,Masculino,38,Algumas doenças infecciosas e parasitárias,Ap Invalidez
4,2008,A17:Tuberc do Sist Nervoso,Masculino,3,Algumas doenças infecciosas e parasitárias,Ap Invalidez

In [15]:
# Listar os itens de uma determinada coluna
df['Ano'].unique()

array(['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '-'], dtype=object)

In [16]:
df = df[df['Ano'] != '-']

# Salvando alterações

In [18]:
#Para Salvar arquivo em CSV
df.to_csv('BD_BASE1.csv',encoding="cp1252")